* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#header {
  padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #AAAAAA;
}

#sidebar {
  position: absolute;
  left: 10px;
  top: 80px;
  bottom: 20px;
  width: 260px;
  border:solid 1px #CCCCCC;
  overflow-y: scroll;
}

#content {
    position: absolute;
    top: 80px;
    bottom: 20px;
    left:300px;
    right:20px;
}

#data {
	font-family: monospace;
    font-size: 36px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

li {
  text-decoration:none;
  display: block;
  color: #000000;
  border-bottom:solid 1px #CCCCCC;
  padding: 8px;
}

li:hover {
  background-color: #4B0A1E;
  color: #BA8A92;
}

button {
  padding:6px;
}
